MONGO_URI=mongodb+srv://...
DB_NAME=yelp_db
JWT_SECRET=your_jwt_secret
ALLOWED_ORIGINS=http://your-ec2-ip

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=yelp-restaurant-photos-akash-lab2
