# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Environment
.env
.env.production
backend/.env

# Node
node_modules/
dist/

# OS
.DS_Store
*.log
*.swp
*.swo

# IDE
.idea/
.vscode/

# Uploads
uploads/
extra_mock_data.sql
jmeter-tests/*.jtl
*.jtl
*.jtl
yelp_lab2_test.jmx
